/* all map related styles */

div#map_container
{
/*	width:1000px;*/
	height:400px;

	background: none repeat scroll 0 0 #F4B609;
        border: 1px solid #EA8006;
        border-radius: 7px 7px 7px 7px;
        box-shadow: 0 0 6px #FFFF00;
        margin-top: 10px;
        padding: 10px;	
}

div#map {
  margin: 10px 0 0 0;
  padding: 0;
  float:left;
  position: relative;

  width:450px;
  text-align:center;
  height:400px;
}
div#active_okrugs{
    float:left;
    width:240px;
    margin-left:15px;
}

#chart_container
{
	float:right;
	width:450px;
	height:350px;
	margin-right:40px;

}
#chart1
{
	margin:25px 0 0 25px;
	width:450px;
	height:350px;
}

#tooltip
{
	background:#ccccff;
	border:1px solid navy;
	border-radius:5px;
	display:none;
	position:absolute;
	left:20px;
	top:20px;
	width:150px;
	padding:5px;
	font-size:8pt;
	opacity:0.75;
	z-index:10;
}
#controls
{
	border: 1px solid #2B64A9;
	background: linear-gradient(135deg, #468AA1 0%, #4B84CB 44%, #3B74BB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius:7px;
	box-shadow: -1px -1px 0 0 #A0A0A0 inset;
	padding:5px;

	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}
#violations{
    clear:both;
}
#violations:after{
    content:".";
    display:block;
    width:0;
    height:0;
    clear:both;
}