@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em arial, sans-serif;
  background: #eeeeee url(../images/flag.jpg) no-repeat center;
  background-size:100%;
  background-attachment:fixed;
  color: #444;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #222;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #B30303;
  padding: 0 0 5px 0;
  font: normal 18pt  arial, sans-serif;
}

h5, h6 { 
  color: #555;
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #B30303;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, nav, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  margin: 5px auto;
  width: 1000px;
  background: transparent;
  padding-bottom: 30px;
}


header { 
  background: transparent;
  height: 130px;
}

#logo { 
  width: 1000px;
  height: 130px;
  background: transparent;
  color: #888;
  padding: 0;
  float: left;
}

#logo h1, #logo h2 { 
  font: normal 320% tahoma, arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 0;
  color: #c4c424;
  text-shadow: 0 0 3px black, 0 0 6px yellow;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #B30303;
  text-shadow: 0 0 3px #333, 0 0 6px #f88;
}

#logo_text a:hover .logo_colour { 
  color: #444;
  text-shadow: 0 0 4px #f88;
}

#logo_text h2 { 
  font-size: 140%;
  padding: 0 0 0 0;
  color: #444;
  text-shadow: 0 0 1px yellow;
}

nav { 
  height: 41px;
  padding-top:3px;
  width: 1000px;
  float: right;
  margin: -20px auto 0 auto;
  color: #222;
  background: #F9C90D; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#F9C90D, #F7D30D);
  background: -o-linear-gradient(#F9C90D, #F7D30D);
  background: -webkit-linear-gradient(#F9C90D, #F7D30D);
  background: linear-gradient(#F9C90D, #F7D30D);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #eee;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
} 
#mainpart
{
	background:#F4B609;
	border:1px solid #EA8006;
	
	border-radius:7px;
	box-shadow:0 0 6px yellow;
	padding:10px;
	margin-top:10px;
}
.clear
{
	clear:both;
}
#site_content { 
  width: 1000px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 15px 0 15px 0;
  
} 

#sidebar_container { 
  float: right;
  width: 224px;
  margin: 25px 0 0 0;

}

.sidebar { 
  float: right;
  width: 200px;
  padding: 5px 20px;
  margin: 0 0 17px 0;

}
  
.sidebar h3, .content h1 { 
  padding: 0 15px 20px 0;
  font: 230% 'News Cycle', arial, sans-serif;
  text-shadow:  #FFF 1px 1px;
  margin: 0 1px;
  color: #444;
}

.sidebar h3 { 
  color: #444;
  font: 250% 'News Cycle', arial, sans-serif;
  padding: 0 15px 5px 0;
}

.sidebar ul { 
  margin: 0 0 15px 0;
} 

.sidebar li a, .sidebar li a:hover { 
  color: #555;
  text-decoration: none;
} 

.sidebar li a:hover { 
  text-decoration: underline;
} 

.sidebar_item, .content_item { 
  padding: 15px 0;
}

.content { 
  text-align: left;
  width: 670px;
  margin: 25px 0 0 0;
  float: left;
  font-size: 120%;
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

footer { 
  width: 1000px;
  font: 170% 'Yanone Kaffeesatz', arial, sans-serif;
  height: 30px;
  padding: 5px 0 20px 0;
  text-align: center;
  background: #d75605; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#d75605, #a77303);
  background: -o-linear-gradient(#d75605, #a77303);
  background: -webkit-linear-gradient(#d75605, #a77303);
  background: linear-gradient(#d75605, #a77303);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #eee;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  margin-bottom:5px;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
  color:#E99706;
}

footer a { 
  color: #222;
  text-decoration: none;
  color:#E99706;
}

footer a:hover { 
  color: #222;
  text-shadow: none;
  text-decoration: underline;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #D5D5D5; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 140% 'Yanone Kaffeesatz', arial, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #ddd; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#fff, #ddd);
  background: -o-linear-gradient(#fff, #ddd);
  background: -webkit-linear-gradient(#fff, #ddd);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #ddd;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  color: #222;
  text-shadow: 1px 1px #FFF;
}

.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
  border-collapse:collapse;
}

table tr th, table tr td { 
  padding: 7px 4px;
  text-align: left;
}
table tr th
{
  background: #BBB;
  color: #FFF;
}
table tr td { 
  background: #F5CE09;
  color: #444;
  border: 1px solid #E18B00
  
}

/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 200px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 200px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-black.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 5px;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: left;
}

ul#nav ul { 
  background: #F1A708; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#F1A708,#F9C90D);
  background: -o-linear-gradient(#F1A708,#F9C90D);
  background: -webkit-linear-gradient(#F1A708,#F9C90D);
  background: linear-gradient(#F1A708,#F9C90D);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #eee;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  margin-top: 5px;
  padding-bottom: 15px;
  padding:10px;
  
}

ul#nav li a { 
  padding: 7px 25px 6px 25px;
  font: 127% 'Yanone Kaffeesatz', arial, sans-serif;
  text-shadow: 1px 1px #fff;
  text-decoration: none;
  color: #222;
  margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus { 
  color: #B30303;
  text-shadow: none;
}

ul#nav ul li a { 
  color: #222;
  font: 125% 'Yanone Kaffeesatz', arial, sans-serif;
}

ul#nav ul li a:hover { 
  color: #B30303;
  margin-right: 2px;
}



/*-- from old styles --*/
.user_fields
{
    text-align:left;
}
.password_tip
{
    visibility:hidden;
    display:none;
}
.error
{
    color:red;
}
.input_list fieldset 
{
    text-align:left;
    margin:0;
    border-left:none;
    border-right:none;
}
.input_list fieldset label
{
    display:block;
    width:100%;
}
.input_list fieldset label span
{
    width:40%;
    display:inline-block;
}
.input_list fieldset label input
{
    width:4em;
}
.admin_table
{
    width:95%;
    margin:10px;
    border-collapse: collapse
}
.admin_table td
{
    border:1px solid darkgray;
}
.admin_table td.op
{
    width:4em;
}
.hidden_edit_dlg
{
	display:none;
/*	visibility:hidden;*/
}
.hidden_edit_dlg label
{
    display:block;
}

label
{
    width:15em;
    display:inline-block;
}

#protocols .media_file
{
    display:inline-block;
    margin:0 8px 5px 0
}
#protocols a.protocol_photo
{
    display:block;
    padding:5px;
    background:white;
    border-radius:5px;
    box-shadow:1px 1px 4px rgba(0,0,0,0.5);
}