body
{
	text-align:center;
	background:url(../images/bg3_transp.gif);
}
#condent
{
	width:90%;
	margin:auto;
	padding:auto;
	border:1px solid darkgray;
	border-radius:10px;	
}
.content
{
	border:1px solid #aaa;
    padding:auto;
	text-align:left;
	
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  rgba(188,188,188,0.51) 0%, rgba(188,188,188,1) 6%, rgba(232,232,232,1) 49%, rgba(188,188,188,1) 94%, rgba(188,188,188,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,220,220,0.51)), color-stop(6%,rgba(240,240,240,1)), color-stop(49%,rgba(255,255,255,1)), color-stop(94%,rgba(240,240,240,1)), color-stop(100%,rgba(220,220,220,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(220,220,220,0.51) 0%,rgba(240,240,240,1) 6%,rgba(255,255,255,1) 49%,rgba(240,240,240,1) 94%,rgba(220,220,220,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(188,188,188,0.51) 0%,rgba(188,188,188,1) 6%,rgba(232,232,232,1) 49%,rgba(188,188,188,1) 94%,rgba(188,188,188,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(188,188,188,0.51) 0%,rgba(188,188,188,1) 6%,rgba(232,232,232,1) 49%,rgba(188,188,188,1) 94%,rgba(188,188,188,0.5) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(220,220,220,0.51) 0%,rgba(240,240,240,1) 6%,rgba(255,255,255,1) 49%,rgba(240,240,240,1) 94%,rgba(220,220,220,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82bcbcbc', endColorstr='#80bcbcbc',GradientType=0 ); /* IE6-8 */
border-radius:10px;
}
.curved-vt-2 {
    position:relative;
}
 
.curved-vt-2:before,
.curved-vt-2:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.curved-vt-2:before {
    top:15px;
    bottom:15px;
    left:0;
    right:0;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:20px / 100px;
         border-radius:20px / 100px;
}
.content .content_inner
{
    text-align:left;
    margin:1em;
}
.menu
{
	/*box-shadow: inset #eee 0px 0px 1px;*/
	 padding-bottom:1px;
}

.menu a.menulink
{
	border-top:1px solid #888;
	box-shadow:#eee 0 1px 0px;
	height:1.5em;
	margin:0;
	padding:1em 20px;
    /*text-decoration:none;*/
    font-weight:bold;
    font-size:1em;
    /*color:black;*/
    text-shadow:#eeeeee 1px 1px 1px;
    display:block;    
}
.menu a.menulink:last-child
{
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
.menu a.menulink:hover
{
	background-color:#ccffff;
	/*background-image: radial-gradient(26% 3%, ellipse cover, rgba(255, 255, 255, 0), rgba(123, 219, 203, 0.4) 100%);
	background-image: -webkit-radial-gradient(26% 3%, ellipse cover, rgba(255, 255, 255, 0), rgba(123, 219, 203, 0.4) 100%);*/
}
.footer_content
{
    margin:0.5em 0;
}

.user_fields
{
    text-align:left;
}
.password_tip
{
    visibility:hidden;
    display:none;
}
.error
{
    color:red;
}
.input_list fieldset 
{
    text-align:left;
    margin:0;
    border-left:none;
    border-right:none;
}
.input_list fieldset label
{
    display:block;
    width:100%;
}
.input_list fieldset label span
{
    width:40%;
    display:inline-block;
}
.input_list fieldset label input
{
    width:4em;
}
.admin_table
{
    width:95%;
    margin:10px;
    border-collapse: collapse
}
.admin_table td
{
    border:1px solid darkgray;
}
.admin_table td.op
{
    width:4em;
}
.hidden_edit_dlg
{
	display:none;
/*	visibility:hidden;*/
}
.hidden_edit_dlg label
{
    display:block;
}
