@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em arial, sans-serif;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}
h7{
    font-weight:bold;
    margin:10px 0 10px 0;
    display:block;
}
h1, h2{ 
  font: normal 140% arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #222;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
}

h3 { 
  font-size: 130%;
  padding:0;
}

h4, h6 { 
  color: #B30303;
  padding: 0 0 5px 0;
  font: normal 18pt  arial, sans-serif;
}

h5, h6 { 
  color: #555;
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;

}

a:hover { 
  text-decoration: none;
}




.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}
/* particular elements*/
.header_block
{
    float:left;
    height:150px;
}
#coat_of_arms
{
    width:150px;
}
#coat_of_arms img
{
    height:150px;
}
#slogan
{
    width:500px;
    height:150px;
    margin-left:25px;
    border:1px solid #2B64A9;
    border-radius:7px;
    background: linear-gradient(135deg, #468aa1 0%,#4B84cB 44%,#3B74BB 100%); 
    padding:10px;
    color:white;
    text-shadow: -1px -1px 0px rgba(60, 60, 120, 1);
    box-shadow:inset -1px -1px 0 0 #a0a0a0;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#slogan h1
{
    margin: 5px  auto;
    padding:0;
    text-align:center;
    font-size:140%;
}
#slogan h2
{
    margin:5px auto;
    padding:0;
    color:white;
    text-shadow: -1px -1px 0px rgba(20, 20, 60, 1);
}
#slogan h1 a{
    text-decoration:none;
    font-size:200%;
    color:white;
    text-shadow: -1px -1px 0px rgba(20, 20, 60, 1);
}
#slogan div#more {
    text-align:right;
}
#slogan div#more a{
    color:white;
}
#slogan div#more a:visited{
    color:white;
}

#header_controls{
    margin-left:25px;
    width:256px;        
}
#login_controls{
    background:linear-gradient(45deg, #ffffff 0%, #ffffff 90%, #d0d0d0 100%);
    border-radius:7px;
    border:1px solid #d0d0d0;
	width:256px;
    padding:10px;
}
#reg_links {
	margin-top:5px;
}
#login_controls .label{
	width:80px;
}
#login_controls input[type=text], #login_controls input[type=password]{
	width:160px;
}
#site_controls{
	margin-top:10px;
}
#main {
  margin: 5px auto;
  width: 1000px;
  background: transparent;
  padding-bottom: 30px;
}


header { 
  background: transparent;
/*  height: 160px;*/
}


nav { 
  height: 41px;
  padding-top:3px;
  width: 1000px;
/*  float: right;*/
  margin: 10px auto 0 auto;
  color: #222;
    border:1px solid #2B64A9;
    border-radius:7px;
    background: linear-gradient(135deg, #468aa1 0%,#4B84cB 44%,#3B74BB 100%); 
    color:white;
    text-shadow: -1px -1px 0px rgba(60, 60, 120, 1);
    box-shadow:inset -1px -1px 0 0 #a0a0a0;

} 
nav #topmenu ul
{
    height:41px;
}
nav #topmenu li
{
    float:left;
    margin:5px 0 0 10px;
}
nav #topmenu li a:hover
{
    background:linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
    border-radius:3px;
    color:#a8a8a8;
}
nav #topmenu li a
{
    padding:2px 4px;
    font-size:1.2em;
}
.clear
{
	clear:both;
}
#sidemenu
{
/*    margin-top:10px;*/
}
#sidemenu li
{
    margin-top:5px;
    margin-bottom:5px;
}
#sidemenu li a
{
    display:block;
    border:1px solid #2B64A9;
    border-radius:7px;
    background: linear-gradient(135deg, #468aa1 0%,#4B84cB 44%,#3B74BB 100%);
    color:white;
    text-shadow: -1px -1px 0px rgba(60, 60, 120, 1);
    box-shadow:inset -1px -1px 0 0 #a0a0a0;
    padding:3px 7px;
    text-decoration:none;
}
#sidemenu  ul
{
    margin-left:0;
}


ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
/*  padding: 0 0 4px 5px;*/
  line-height: 1.5em;
}
ul.menu li { 
  list-style-type: none;
}
ul.menu li a{ 
    color:#FFFFCC;
    text-decoration:none;
    line-height:1.5em;
}
ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

#sidemenu >li> a:hover
{
    text-shadow:0 0 5px #ffffbb;
    color:#505050;
    box-shadow: 1px 1px 1px 0 #707070;
    background: #68acc3;
}
#sidemenu  ul li a
{
    background: linear-gradient(135deg, #579bb2 0%,#5c95dc 44%,#4c85cc 100%);
}
#sidemenu  ul li a:hover
{
    background:#68acc3;
}

ul.menu ul{
    padding:5px;
    border-radius:5px;
    background: linear-gradient(135deg, #68acc3 0%,#4B84cB 44%,#3B74BB 100%);
}

#body
{
    margin-top:15px;
    padding-bottom:15px;
    border:1px solid #d75605;
    border-radius:12px;
    background:linear-gradient(45deg, rgba(255,244,35,1) 0%,rgba(255,225,0,1) 100%);
}
#body .block
{
    background:white;
    border-radius:12px;
    padding:10px;
    margin-top:15px;
    margin-left:10px;
    margin-bottom:10px;
    float:left;
}
#body .block:after
{
    width:0;
    height:0;
    display:block;
    content:".";
    clear:both;
}
#sideblock
{
    margin-right:10px;
    float:left;
    margin-top:10px;
}
#sideblock img
{
    margin-left:17px;
    width:200px;
}
#mainpart
{
    float:right;
    width:770px;
}
.column{
    float:left;
}
.column4{
    width:320px;
}
.column8{
    width:640px;
}
.column9{
    width:720px;
}
footer { 
    clear:both;
    margin-top:15px;
    width: 1000px;
    margin-bottom:5px;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
  color:#E99706;
}

footer a { 
  color: #222;
  text-decoration: none;
  color:#E99706;
}

footer a:hover { 
  color: #222;
  text-shadow: none;
  text-decoration: underline;
}

#footer_flag
{
/*    float:left;
    width:100px;
    height:100px;*/
}
#footer_info
{
/*    float:right;
    width:700px;*/
    width:1000px;
    height:80px;
    border-radius:12px;
    border:1px solid #a0a0a0;
    background:linear-gradient(135deg, rgba(213,219,205,1) 0%,rgba(193,199,185,1) 40%,rgba(169,180,163,1) 100%);
    padding:10px;
    box-sizing:border-box;
}
#footer_copyright
{
    float:left;
    width:200px;
}
#footer_details
{
    float:left;
    width:400px;
}


/* Theming the menu */
ul#nav { 
  float: left;
}

ul#nav ul { 
  background: #F1A708; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#F1A708,#F9C90D);
  background: -o-linear-gradient(#F1A708,#F9C90D);
  background: -webkit-linear-gradient(#F1A708,#F9C90D);
  background: linear-gradient(#F1A708,#F9C90D);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #eee;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  margin-top: 5px;
  padding-bottom: 15px;
  padding:10px;
  
}

ul#nav li a { 
  padding: 7px 25px 6px 25px;
  font: 127% 'Yanone Kaffeesatz', arial, sans-serif;
  text-shadow: 1px 1px #fff;
  text-decoration: none;
  color: #222;
  margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus { 
  color: #B30303;
  text-shadow: none;
}

ul#nav ul li a { 
  color: #222;
  font: 125% 'Yanone Kaffeesatz', arial, sans-serif;
}

ul#nav ul li a:hover { 
  color: #B30303;
  margin-right: 2px;
}



/*-- from old styles --*/
.user_fields
{
    text-align:left;
}
.password_tip
{
    visibility:hidden;
    display:none;
}
.error
{
    color:red;
}
.input_list fieldset 
{
    text-align:left;
    margin:0;
    border-left:none;
    border-right:none;
}
.input_list fieldset label
{
    display:block;
    width:100%;
}
.input_list fieldset label span
{
    width:40%;
    display:inline-block;
}
.input_list fieldset label input
{
    width:4em;
}
.admin_table
{
    width:95%;
    margin:10px;
    border-collapse: collapse
}
div.bootstrap .admin_table
{
    margin:0;
}

.admin_table td
{
    /*border:1px solid darkgray;*/
}
.admin_table td.op
{
    width:4em;
}
.admin_block_content {
    width:100%;
    min-height:300px;
    min-width:727px;
}
.hidden_edit_dlg
{
	display:none;
/*	visibility:hidden;*/
}
.hidden_edit_dlg label
{
    display:block;
}

label
{
    width:15em;
    display:inline-block;
}

#protocols .media_file
{
    display:inline-block;
    margin:0 8px 5px 0
}
#protocols a.protocol_photo
{
    display:block;
    padding:5px;
    background:white;
    border-radius:5px;
    box-shadow:1px 1px 4px rgba(0,0,0,0.5);
}
.page_content, .block .error{
    width:727px;
    min-height:300px;
}
.page_content, .block .error.small{
    min-height:0;
}
.user_fields
{
    margin-top:10pt;
}
.initially-hidden
{
    display:none;
}

div.bootstrap .admin_table.table-striped>tbody>tr:nth-child(odd)>td, div.bootstrap .admin_table.table-striped>tbody>tr:nth-child(odd)>th
{
    background-color:rgba(255,255,0,1);
}

div.bootstrap #confirmed_state_wrapper tr td
{
    padding:5px;
}